@import url("https://cdn.syncfusion.com/ej2/bootstrap.css");
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
 /* :root {
  --black-color: rgba(0, 0, 0, .9);
}

* {
 background-color: var(--black-color);
} */

body {
  margin: 0;
  padding: 0;
} 

#NavBar {
  margin: 0;
  padding: 0;
    position:absolute;
    top:0px;
    left:0px;
    width:100%; 
    background-color:#f26522;
}

#NavContent {
  margin: 0 auto;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

 #loginComp, #signupComp{
 justify-content: center;
 display: flex;
 align-items: center;
 margin-top: 10%;
}

.navbar-brand {
  color: #df3ca6;
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}

 #btnM {
  margin-left: 15px;
  margin-right: 15px;
}

#routesHeader, .userHeader {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25px;
  font-size: 25px;
  font-weight: bold;
}

/* table {
  margin: 15px;
} */
/* .flex-container  {
  display: flex;
}

.float-child {
  /* flex: 2; */


 .flex-child:first-child {
  margin-left: 10px;
  margin-right: 70%;
} 

/* .float-right {
  width: 50%;
  float: right;
  }  */

thead {
  border-bottom: solid 1px gray;
}

.storeRow {
  border-bottom: solid 1px lightgray;

}
#reportHead {
  background-color: rgba(126, 107, 143, .2)
}

th:hover {
  background-color: rgba(126, 107, 143, .1)
}

.reportColor {
  color: #df3ca6;
}

/* override default color to hide my "separate" spreader */
.table>:not(caption)>*>*.separate{
  background-color: black;
}
.separate {
  color: black;
}

.separate:hover {
  color: black;
  background-color: black;
}

.colNames {
  font-weight: 700;

}

td {
  padding-left: 15px;

}

table{
  margin: 25px;
  margin-top: 50px;
  padding: 25px;
}

thead {
  margin: 25px;
}

.btn {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color: #df3ca6 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #df3ca6;
  opacity: 0.9;
}

.btn-secondary {
  background-color: #7430f9;
}

.btn-secondary:hover {
  background-color: #7430f9;
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}
